body {
  background-size: cover;
  background-position: center;
}
.navbar-brand {
  font-weight: bold;
  color: #fff !important;
}
.btn-outline-primary {
  border-color: #007bff;
  color: #007bff;
}
.btn-outline-primary:hover {
  background-color: #007bff;
  color: #fff;
}

.container {
  position: relative;
  min-height: 100vh;
}

.background-image{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0.5; /* Adjust the opacity as needed */
  z-index: -1;
}